<div class="row">
  <div class="col-9">
    <div class="row justify-content-center mt-4">
      <select
        class="form-control w-50"
        (change)="selectCategory($event.target.value)"
      >
        <option selected>Select Category</option>
        <option *ngFor="let category of categories" value="{{ category }}">
          {{ category }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-3 div_box mt-4">
    <app-profile></app-profile>
  </div>
</div>

<div class="row mt-4 px-5">
  <div class="col-2" *ngFor="let product of products">
    <img src="{{ product?.image }}" width="100" />
    <p>{{ product?.title }}</p>
    <button
      type="button"
      class="btn btn-success"
      (click)="viewProduct(product)"
    >
      View Details
    </button>
  </div>
</div>
